<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{#add}}Create new Publisher{{/add}}{{^add}}Edit Publisher{{/add}}</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>
    <body>
        <h1>{{#add}}Create new Publisher:{{/add}}{{^add}}Edit Publisher:{{/add}}</h1>
        <a href="/publishers">Back to Publisher List</a>
        <br/><br/>
        {{#publisher}}
        <form action="{{#add}}/publishers/add{{/add}}{{^add}}/publishers/{{id}}/edit{{/add}}" name="publisher" method="POST">
            <table border="0">
                <tr>
                    <td>Title</td>
                    <td>:</td>
                    <td><input type="text" name="title" value="{{#title}}{{title}}{{/title}}" /></td>
                </tr>
            </table>
            <input type="submit" value="Create" />
        </form>
        {{/publisher}}

        <br/>
        <!-- Check if errorMessage is not null and not empty -->
        <div class="error">{{#errorMessage}}{{errorMessage}}{{/errorMessage}}</div>
    </body>
</html>