<!DOCTYPE HTML>
    <html>
        <head>
            <meta charset="UTF-8" />
            <title>{{title}}</title>
            <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        </head>
        <body>
            <h1>{{title}}</h1>
            <a href="/books">Book List</a> |
            <a href="/authors">Authors List</a> |
            <a href="/publishers">Publisher List</a>
        </body>
    </html>