<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>User Details</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>
    <body>
        <h1>View User</h1>
        <a href="/users">Back to User List</a>
        <br/><br/>
        {{#user}}
            <table border="0">
                <tr>
                    <td>ID</td>
                    <td>:</td>
                    <td>{{#id}}{{id}}{{/id}}</td>
                </tr>
                <tr>
                    <td>Firstname</td>
                    <td>:</td>
                    <td>{{firstname}}</td>
                </tr>
                <tr>
                     <td>Lastname</td>
                     <td>:</td>
                     <td>{{lastname}}</td>
                </tr>

                <tr>
                    <td>Books</td>
                    <td>:</td>
                        {{#user.books}}
                            <tr>
                                <td>{{title}}</a></td>
                            </tr>
                        {{/user.books}}
                </tr>

            </table>
            <br/><br/>
            {{#allowDelete}}
                <form action="/users/{{id}}/delete" method="POST">
                    Delete this user? <input type="submit" value="Yes" />
                </form>
            {{/allowDelete}}
            {{^allowDelete}}
                <div>
                    <a href="/users/{{userId}}/edit">Edit</a>
                    <a href="/users/{{userId}}/delete" method = "post">Delete</a>
                </div>
            {{/allowDelete}}
        {{/user}}
        {{#errorMessage}}
            <div class="error">{{errorMessage}}</div>
        {{/errorMessage}}
    </body>
</html>